In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt

In [4]:
em_2016 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Datasets/EmissionOfMadrid/emisiones-2016.csv", sep = ';')
em_2017 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Datasets/EmissionOfMadrid/emisiones-2017.csv", sep = ';')
em_2018 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Datasets/EmissionOfMadrid/emisiones-2018.csv", sep = ';')
em_2019 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Datasets/EmissionOfMadrid/emisiones-2019.csv", sep = ';')

Generar un DataFrame con los datos de los cuatro ficheros.

In [5]:
em_concat = pd.concat([em_2016, em_2017, em_2018, em_2019])
em_concat.head(10)

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,D01,V01,D02,...,D27,V27,D28,V28,D29,V29,D30,V30,D31,V31
0,28,79,4,1,28079004_1_38,2016,1,8.0,V,7.0,...,9.0,V,7.0,V,8.0,V,9.0,V,9.0,V
1,28,79,4,1,28079004_1_38,2016,2,12.0,V,13.0,...,7.0,V,8.0,V,9.0,V,0.0,N,0.0,N
2,28,79,4,1,28079004_1_38,2016,3,11.0,V,10.0,...,8.0,V,7.0,V,8.0,V,10.0,V,8.0,V
3,28,79,4,1,28079004_1_38,2016,4,8.0,V,9.0,...,9.0,V,8.0,V,8.0,V,8.0,V,0.0,N
4,28,79,4,1,28079004_1_38,2016,5,7.0,V,8.0,...,7.0,V,7.0,V,7.0,V,7.0,V,7.0,V
5,28,79,4,1,28079004_1_38,2016,6,7.0,V,7.0,...,7.0,V,7.0,V,8.0,V,8.0,V,0.0,N
6,28,79,4,1,28079004_1_38,2016,7,8.0,V,7.0,...,7.0,V,7.0,V,7.0,V,7.0,V,7.0,V
7,28,79,4,1,28079004_1_38,2016,8,7.0,V,7.0,...,7.0,V,7.0,V,7.0,V,7.0,V,7.0,V
8,28,79,4,1,28079004_1_38,2016,9,7.0,V,8.0,...,8.0,V,8.0,V,9.0,V,9.0,V,0.0,N
9,28,79,4,1,28079004_1_38,2016,10,9.0,V,8.0,...,5.0,V,4.0,V,4.0,V,6.0,V,7.0,V

Filtrar las columnas del DataFrame para quedarse con las columnas ESTACION, MAGNITUD, AÑO, MES y las correspondientes a los días D01, D02, etc.

In [6]:
emissions = em_concat.drop(["PUNTO_MUESTREO", "PROVINCIA", "MUNICIPIO"], axis=1)
emissions

,ESTACION,MAGNITUD,ANO,MES,D01,V01,D02,V02,D03,V03,...,D27,V27,D28,V28,D29,V29,D30,V30,D31,V31
0,4,1,2016,1,8.0,V,7.0,V,6.0,V,...,9.0,V,7.0,V,8.0,V,9.0,V,9.0,V
1,4,1,2016,2,12.0,V,13.0,V,9.0,V,...,7.0,V,8.0,V,9.0,V,0.0,N,0.0,N
2,4,1,2016,3,11.0,V,10.0,V,9.0,V,...,8.0,V,7.0,V,8.0,V,10.0,V,8.0,V
3,4,1,2016,4,8.0,V,9.0,V,9.0,V,...,9.0,V,8.0,V,8.0,V,8.0,V,0.0,N
4,4,1,2016,5,7.0,V,8.0,V,9.0,V,...,7.0,V,7.0,V,7.0,V,7.0,V,7.0,V
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1831,60,14,2019,8,94.0,V,104.0,V,106.0,V,...,88.0,V,90.0,V,99.0,V,108.0,V,98.0,V
1832,60,14,2019,9,88.0,V,82.0,V,80.0,V,...,54.0,V,68.0,V,70.0,V,55.0,V,0.0,N
1833,60,14,2019,10,44.0,V,75.0,V,44.0,V,...,28.0,V,33.0,V,16.0,V,19.0,V,47.0,V
1834,60,14,2019,11,41.0,V,55.0,V,79.0,V,...,55.0,V,52.0,V,47.0,V,56.0,V,0.0,N
1835,60,14,2019,12,47.0,V,53.0,V,45.0,V,...,17.0,V,13.0,V,14.0,V,5.0,V,4.0,V

Reestructurar el DataFrame para que los valores de los contaminantes de las columnas de los días aparezcan en una única columna.

In [7]:
emissions = emissions.melt(id_vars=["ESTACION", "MAGNITUD", "ANO", "MES"], var_name="DIA", value_name="EMISION")
emissions

        ESTACION  MAGNITUD   ANO  MES  DIA EMISION
0              4         1  2016    1  D01     8.0
1              4         1  2016    2  D01    12.0
2              4         1  2016    3  D01    11.0
3              4         1  2016    4  D01     8.0
4              4         1  2016    5  D01     7.0
...          ...       ...   ...  ...  ...     ...
450487        60        14  2019    8  V31       V
450488        60        14  2019    9  V31       N
450489        60        14  2019   10  V31       V
450490        60        14  2019   11  V31       N
450491        60        14  2019   12  V31       V

[450492 rows x 6 columns]

Añadir una columna con la fecha a partir de la concatenación del año, el mes y el día (usar el módulo datetime).

In [8]:
emissions["DIA"] = emissions["DIA"].str.strip("D")
emissions["FECHA"] = emissions["ANO"].apply(str) + "/" + emissions["MES"].apply(str) + "/" + emissions["DIA"].apply(str)
emissions["FECHA"] = pd.to_datetime(emissions["FECHA"], format="%Y/%m/%d", infer_datetime_format=True, errors="coerce")
emissions

        ESTACION  MAGNITUD   ANO  MES  DIA EMISION      FECHA
0              4         1  2016    1   01     8.0 2016-01-01
1              4         1  2016    2   01    12.0 2016-02-01
2              4         1  2016    3   01    11.0 2016-03-01
3              4         1  2016    4   01     8.0 2016-04-01
4              4         1  2016    5   01     7.0 2016-05-01
...          ...       ...   ...  ...  ...     ...        ...
450487        60        14  2019    8  V31       V        NaT
450488        60        14  2019    9  V31       N        NaT
450489        60        14  2019   10  V31       V        NaT
450490        60        14  2019   11  V31       N        NaT
450491        60        14  2019   12  V31       V        NaT

[450492 rows x 7 columns]

Eliminar las filas con fechas no válidas (utilizar la función isnat del módulo numpy) y ordenar el DataFrame por estaciones contaminantes y fecha.

In [9]:
emissions = emissions.drop(emissions[np.isnat(emissions["FECHA"])].index)
emissions.sort_values(['ESTACION', 'MAGNITUD', 'FECHA'])

        ESTACION  MAGNITUD   ANO  MES DIA EMISION      FECHA
0              4         1  2016    1  01     8.0 2016-01-01
14532          4         1  2016    1  02     7.0 2016-01-02
29064          4         1  2016    1  03     6.0 2016-01-03
43596          4         1  2016    1  04     6.0 2016-01-04
58128          4         1  2016    1  05     7.0 2016-01-05
...          ...       ...   ...  ...  ..     ...        ...
385097        60        14  2019   12  27    17.0 2019-12-27
399629        60        14  2019   12  28    13.0 2019-12-28
414161        60        14  2019   12  29    14.0 2019-12-29
428693        60        14  2019   12  30     5.0 2019-12-30
443225        60        14  2019   12  31     4.0 2019-12-31

[221158 rows x 7 columns]

Mostrar por pantalla las estaciones y los contaminantes disponibles en el DataFrame.

In [11]:
print("Seasons: ", emissions["ESTACION"].unique())
print("Contaminants: ", emissions["MAGNITUD"].unique())

Seasons:  [ 4  8 11 16 17 18 24 27 35 36 38 39 40 47 48 49 50 54 55 56 57 58 59 60]
Contaminants:  [ 1  6  7  8 12  9 10 14 20 30 35 42 43 44]

Crear una función que reciba una estación, un contaminante y un rango de fechas y devuelva una serie con las emisiones del contaminante dado en la estación y rango de fechas dado.

In [10]:
def evolution(season, magnitud_cont, from_date, to_date):
    return emissions[(emissions["ESTACION"] == season) & (emissions.MAGNITUD == magnitud_cont) & (emissions.FECHA >= from_date) & (emissions.FECHA <= to_date)].sort_values("FECHA")["EMISION"]
evolution(56, 8, dt.datetime.strptime('2018/10/25', '%Y/%m/%d'), dt.datetime.strptime('2019/02/12', '%Y/%m/%d'))

353943    89.0
368475    87.0
383007    46.0
397539    38.0
412071    29.0
          ...
108703    82.0
123235    64.0
137767    26.0
152299    59.0
166831    71.0
Name: EMISION, Length: 111, dtype: object

Mostrar un resumen descriptivo (mínimo, máximo, media, etc.) para cada contaminante.

In [12]:
emissions.groupby("MAGNITUD")["EMISION"].describe()

            count  unique    top    freq
MAGNITUD
1         14610.0    45.0   5.00  1549.0
6         14610.0    21.0   0.30  4511.0
7         35064.0   247.0   2.00  3121.0
8         35064.0   135.0  27.00   774.0
9          8948.0    52.0   6.00   728.0
10        17897.0   115.0  11.00   848.0
12        35064.0   452.0  26.00   530.0
14        20454.0   123.0  59.00   319.0
20         8766.0   188.0   0.90   349.0
30         8766.0    48.0   0.20  1859.0
35         8766.0   111.0   0.10  2677.0
42         4383.0   167.0   1.26   124.0
43         4383.0   157.0   1.20   131.0
44         4383.0    53.0   0.06   368.0

Mostrar un resumen descriptivo para cada contaminante por distritos.

In [13]:
emissions.groupby(["ESTACION", "MAGNITUD"])["EMISION"].describe()

                    count  unique   top   freq
ESTACION MAGNITUD
4        1         1461.0    25.0   7.0  228.0
         6         1461.0    13.0   0.3  540.0
         7         1461.0   163.0   7.0   85.0
         8         1461.0    96.0  26.0   40.0
         12        1461.0   280.0  36.0   30.0
...                   ...     ...   ...    ...
60       7         1461.0    99.0   2.0  237.0
         8         1461.0    92.0  23.0   55.0
         10        1461.0    64.0  14.0   82.0
         12        1461.0   188.0  22.0   43.0
         14        1461.0   114.0  75.0   30.0

[153 rows x 4 columns]